{% extends 'app/base.html.twig' %}

{% block body %}
    <h3>
        <span>наверное, оставил тестовое,</span><br>
        <span>дождь за окном здания и уже</span><br>
        <span>синтаксический сахар сплавил</span><br>
        <span>на вкус французской булки</span><br>
        <span>и хруст симфонии, верно</span>
    </h3>
{% endblock %}
